body {
  background-color: #f8f9fa;
}

.alert {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}