version: '3.8'

services:
  auth_service:
    build:
      context: ./services/auth_service
    container_name: auth_service
    ports:
      - "8001:8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - backend

  upload_service:
    build:
      context: ./services/upload_service
    container_name: upload_service
    ports:
      - "8002:8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - backend

# Resino service
  resino_service:
    build:
      context: ./services/resino_service
    container_name: resino_service
    ports:
      - "8003:8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - backend

#Maria - DB
mariadb:
  image: mariadb:11
  container_name: mariadb
  restart: unless-stopped
  environment:
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MYSQL_DATABASE: ${MYSQL_DATABASE}
    MYSQL_USER: ${MYSQL_USER}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  ports:
    - "3306:3306"
  volumes:
    - mariadb_data:/var/lib/mysql
    - ./db_backups:/backups

volumes:
  mariadb_data:



networks:
  backend:
